.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, san-serif;
}

.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}

.login-form input[type = "password"],
.login-form input[type = "text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-form input[type = "submit"]{
    width:100%;
    padding: 15px;
    background-color: #36454f;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

#register {
    border: 0;
    background-color: #36454f;
    box-sizing: border-box;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
    padding: 12.5px;
}

#sucess-Form {
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    width: 50%;
    padding: 10px;
    
}

#SignUp-Form {
    margin:auto;
    width:50%;
    overflow: hidden;
}
#SignUp-Form input[type = "password"],
#SignUp-Form input[type = "text"],
#SignUp-Form input[type = "email"] {
    width: 30%;
    padding: 15px;
    background-color: #dddddd;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#SignUp-Form input[type = "submit"] {
    width:50%;
    cursor: pointer;
    padding: 15px;
    background-color: #36454f;
    border: 0;
    box-sizing: border-box;
    font-weight: bold;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#sucess button {
    width: 90%;
    padding: 15px;
    border: 0;
    box-sizing: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: #36454f;
}

.error {
    color: red;
}

body {
    background-color: #9B9B9B;
    margin: auto;
}